html {
    scroll-behavior: smooth;
}

.container-fluid {
    width: 100%;
    padding: 0 0 0 0;
}

p {
    font-size: 18px;
}

.row {
    width: 100%;
    margin: 0 0 0 0;
}

.fas {
    color: rgb(00, 113, 188);
    display: inline-block;
    vertical-align: middle;
}

.icon-container {
    text-align: center;
    margin: 0 0 25px 0;
}

.cores-container {
    margin: 50px 0 10px 0;
}

#core-value-container {
    text-align: center;
}

.navbar {
    background-color: rgb(00, 113, 188);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav-logo {
    width: 30px;
    height: auto;
}

.welcome-logo {
    width: 100%;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}

.hero-container {
    height: 1000px;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.welcome-logo-container {
    text-align: center;
}

.contact-btn {
    width: 200px;
    height: 75px;
    font-size: 25px;
}

.light-text {
    color: white;
}

.fa-hand-holding-heart {
    color: rgb(00, 113, 188);
}

.fa-bible {
    color: orangered;
}

.fa-cross {
    color: green;
}

.fa-sign-out-alt {
    color: maroon;
}

.fa-facebook-square,
.fa-instagram,
.fa-youtube {
    font-size: 25px;
    color: white;
    margin: 0 15px 0 15px;
}

.about-container {
    margin: 200px 0 200px 0;
}

.img-container-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-container {
    width: 100%;
}

.church-map {
    width: 100%;
    margin: 0 0 0 0;
}

.email-link {
    color: white;
}

.email-link:hover {
    color: lightblue;
    text-decoration: none;
}

.hero-image {
    background-image: url(../img/bg-oc.jpeg);
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
}

#mission-container,
#worship-container,
#contact-container {
    padding: 0 0 0 0;
}

.mission-bg {
    background-image: url(../img/mission.jpg);
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0px 0 100px 0;
    width: 100%;
}

.worsip-bg {
    background-image: url(../img/worship.jpg);
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 100px 0 100px 0;
    width: 100%;
}

.contact-bg {
    background-image: url(../img/contact.jpeg);
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 100px 0 0px 0;
    width: 100%;
}

.footer {
    background-color: black;
    width: 100%;
    margin-top: 2px;
}

.social-container {
    text-align: center;
    padding-top: 40px;
    margin: 0 0 0 0;
}

.copyright-text {
    margin-top: 20px;
}

.footer-text {
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.top-bottom-margin {
    margin: 75px 0 75px 0;
}

.worship-time {
    font-size: 2rem;
    font-weight: lighter;
}

.contact-text {
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}

.fa-instagram,
.fa-youtube {
    font-size: 30px;
}

@media only screen and (max-width: 991px) {
    .navbar {
        display: none;
    }

    .welcome-logo {
        width: 90%;
        margin-top: 25px;
        margin-bottom: 100px;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(5px 5px 5px #222222);
    }

    .about-container {
        margin: 100px 0 100px 0;
    }
}

@media only screen and (min-width: 992px) {
    .welcome-logo {
        width: 80%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
